<nav>
    <div>

    </div>
    <div>
        <ul class="menu">
            <li><a routerLink="/">{{'NAVBAR.HOME' | translate}}</a></li>
            <li><a routerLink="/projects">{{'NAVBAR.PROJECTS' | translate}}</a></li>
            <li><a routerLink="/contact">{{'NAVBAR.CONTACT' | translate}}</a></li>
            <li><a routerLink="/faq">{{'NAVBAR.FAQ' | translate}}</a></li>
        </ul>
        <div class="language-container">
            <img src="assets/images/languages/en.png" >
        </div>
    </div>
    
</nav>
